In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

In [3]:
def get_details(data):
    title = ''
    company_name = '' 
    location = []
    start_date = ''
    duration = ''
    stipend =''
    status = ''
    links = ''
    pattern_for_status = '<i class=\"ic-16-reschedule\"></i>([^<]+)'
    # data = BeautifulSoup(data,'html.parser')
    title = data.find('h3', attrs = {'class' : 'heading_4_5 profile'}).text.strip()
    # for tag in data.find('div', attrs = {'class': 'company_and_premium'}):
    company_name = re.findall('<p>\s(.*?)</p>', str(data.find('div', attrs = {'class': 'company_and_premium'})))[0].strip()
    # company_name = data.find('a', attrs = {'class': 'link_display_like_text view_detail_button'}).text.strip()
    location.append(re.findall('>(.*?)</a>',str(data.find('div', attrs = {'id': 'location_names'})) ))
    try:
        start_date = data.find('span', attrs={'class': 'start_immediately_desktop'}).text
    except AttributeError:
        try:
            start_date = data.find('div', attrs={'id': 'start-date-first'}).text
        except AttributeError:
            start_date = "Not Available"

        
    duration = data.find('div', attrs = {'class' : 'item_body'}).text.strip()
    stipend = data.find('span', attrs = {'class' : 'stipend'}).text.strip()
    status = re.findall(pattern_for_status , str(dee[0]))[0]
    links = data.find('a', attrs = {'class' : 'btn btn-secondary view_detail_button_outline', 'href' : True}).get('href')
    
    data = {
    "Title": title,
    "Company Name": company_name,
    "Location": location,
    "Start Date": start_date,
    "Duration": duration,
    "Stipend": stipend,
    "Status": status,
    "Links": 'https://internshala.com' + links
    }
    
    return data

In [4]:
# link = 'https://internshala.com/internships/computer-science-internship/'
link = 'https://internshala.com/internships/big-data,data-analysis,data-analytics,data-science,machine-learning,python-internship/'

response = requests.get(link)
print('Response = ' + str(response.status_code))
    
if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    print("Parsed Landing Page")
    
    link_soup = soup.find('span', attrs = {'id':"total_pages"}).text
    total_pages = int(link_soup)

Response = 200
Parsed Landing Page

In [23]:
data

NameError: name 'data' is not defined

In [5]:
dict_of_data = []
for j in range(1,total_pages+1):
    
    res_link = link + 'page-' + str(j)
    res = requests.get(res_link)
    res_soup = BeautifulSoup(res.content, 'html.parser')
    dee = res_soup.find_all('div', attrs = {'class' : 'container-fluid individual_internship visibilityTrackerItem'})
    
    for i in range(len(dee)):
        dict_of_data.append(get_details(dee[i]))

In [55]:
get_details(dee[0])

{'Title': 'Machine Learning',
 'Company Name': 'Avaari',
 'Location': [['Work from home']],
 'Start Date': 'Immediately',
 'Duration': 'Starts\xa0immediatelyImmediately',
 'Stipend': '₹ 15,000 /month',
 'Status': '1 week ago',
 'Links': 'https://internshala.com/internship/detail/work-from-home-machine-learning-internship-at-avaari1710401286'}

In [6]:
dict_of_data2 = {}
for i in range(len(dict_of_data)):
    dict_of_data2[i] = dict_of_data[i]

In [7]:
df = pd.DataFrame.from_dict(dict_of_data2, orient='index')

In [8]:
df

,Title,Company Name,Location,Start Date,Duration,Stipend,Status,Links
0,Product Management,Daalchini Technologies,[[Noida]],Immediately,Starts immediatelyImmediately,"₹ 15,000 /month",Few hours ago,https://internshala.com/internship/detail/prod...
1,E-Commerce Marketing,Nuvoretail Enlytical Technologies Private Limited,[[Delhi]],Immediately,Starts immediatelyImmediately,"₹ 15,000 /month",Few hours ago,https://internshala.com/internship/detail/e-co...
2,Robotics,FALCO ROBOTICS PRIVATE LIMITED,"[[Noida, Palwal, Faridabad, Delhi, Ghaziabad]]",Immediately,Starts immediatelyImmediately,"₹ 10,000-18,000 /month",Few hours ago,https://internshala.com/internship/detail/robo...
3,Digital Marketing,Design Centric,[[Mumbai]],Immediately,Starts immediatelyImmediately,"₹ 10,000 /month",Few hours ago,https://internshala.com/internship/detail/digi...
4,Influencer Marketing Data Analytics,Confluencr,[[Bangalore]],Immediately,Starts immediatelyImmediately,"₹ 20,000 /month",Few hours ago,https://internshala.com/internship/detail/infl...
...,...,...,...,...,...,...,...,...
240,Technical Lead Generation & Business Prospects...,RPA Infotech Private Limited,[[Work from home]],Immediately,Starts immediatelyImmediately,"₹ 10,000-15,000 /month",3 weeks ago,https://internshala.com/internship/detail/work...
241,Network Automation & QA Intern,COSGrid Systems Private Limited,[[Chennai]],Immediately,Starts immediatelyImmediately,"₹ 15,000-20,000 /month",3 weeks ago,https://internshala.com/internship/detail/netw...
242,Digital Marketing,COSGrid Systems Private Limited,[[Chennai]],Immediately,Starts immediatelyImmediately,"₹ 12,000-20,000 /month",3 weeks ago,https://internshala.com/internship/detail/digi...
243,Data Analytics,"Rajat Khanna (New Orleans, United States)",[[Work from home]],Immediately,Starts immediatelyImmediately,"₹ 1,000 /month",3 weeks ago,https://internshala.com/internship/detail/work...
244,Artificial Intelligence (AI),Digipplus,[[Work from home]],Immediately,Starts immediatelyImmediately,"₹ 25,000 /month",3 weeks ago,https://internshala.com/internship/detail/work...

In [24]:
df2 = df

In [52]:
locations = []

In [40]:
df2['location'] = df2.Location.apply(lambda x: str(x)[2:-2])

In [42]:
df2.head()

,Title,Company Name,Location,Start Date,Duration,Stipend,Status,Links,location
0,Product Management,Daalchini Technologies,[[Noida]],Immediately,Starts immediatelyImmediately,"₹ 15,000 /month",Few hours ago,https://internshala.com/internship/detail/prod...,'Noida'
1,E-Commerce Marketing,Nuvoretail Enlytical Technologies Private Limited,[[Delhi]],Immediately,Starts immediatelyImmediately,"₹ 15,000 /month",Few hours ago,https://internshala.com/internship/detail/e-co...,'Delhi'
2,Robotics,FALCO ROBOTICS PRIVATE LIMITED,"[[Noida, Palwal, Faridabad, Delhi, Ghaziabad]]",Immediately,Starts immediatelyImmediately,"₹ 10,000-18,000 /month",Few hours ago,https://internshala.com/internship/detail/robo...,"'Noida, Palwal, Faridabad, Delhi, Ghaziabad'"
3,Digital Marketing,Design Centric,[[Mumbai]],Immediately,Starts immediatelyImmediately,"₹ 10,000 /month",Few hours ago,https://internshala.com/internship/detail/digi...,'Mumbai'
4,Influencer Marketing Data Analytics,Confluencr,[[Bangalore]],Immediately,Starts immediatelyImmediately,"₹ 20,000 /month",Few hours ago,https://internshala.com/internship/detail/infl...,'Bangalore'

In [43]:
for i in range(len(df2['Location'])):
    df2['Location'][i] = (str(df2['Location'][i])[3:-3].split())

In [44]:
df2.head()

,Title,Company Name,Location,Start Date,Duration,Stipend,Status,Links,location
0,Product Management,Daalchini Technologies,[Noida],Immediately,Starts immediatelyImmediately,"₹ 15,000 /month",Few hours ago,https://internshala.com/internship/detail/prod...,'Noida'
1,E-Commerce Marketing,Nuvoretail Enlytical Technologies Private Limited,[Delhi],Immediately,Starts immediatelyImmediately,"₹ 15,000 /month",Few hours ago,https://internshala.com/internship/detail/e-co...,'Delhi'
2,Robotics,FALCO ROBOTICS PRIVATE LIMITED,"[Noida,, Palwal,, Faridabad,, Delhi,, Ghaziabad]",Immediately,Starts immediatelyImmediately,"₹ 10,000-18,000 /month",Few hours ago,https://internshala.com/internship/detail/robo...,"'Noida, Palwal, Faridabad, Delhi, Ghaziabad'"
3,Digital Marketing,Design Centric,[Mumbai],Immediately,Starts immediatelyImmediately,"₹ 10,000 /month",Few hours ago,https://internshala.com/internship/detail/digi...,'Mumbai'
4,Influencer Marketing Data Analytics,Confluencr,[Bangalore],Immediately,Starts immediatelyImmediately,"₹ 20,000 /month",Few hours ago,https://internshala.com/internship/detail/infl...,'Bangalore'

In [56]:
(str(df2['Location'][2])[3:-3].split())

["oida,',", "'Palwal,',", "'Faridabad,',", "'Delhi,',", "'Ghaziaba"]

In [16]:
len(df['Location'][2])

1

In [53]:
for i in df2['location']:

In [54]:
locations

["'Noida'",
 "'Delhi'",
 "'Noida, Palwal, Faridabad, Delhi, Ghaziabad'",
 "'Mumbai'",
 "'Bangalore'",
 "'Bangalore'",
 "'Agra'",
 "'Jodhpur, Mumbai'",
 "'Sonepat, Sonipat'",
 "'Noida, Delhi'",
 "'Gurgaon'",
 "'Bangalore'",
 "'Bangalore'",
 "'Mumbai, Navi Mumbai, Thane'",
 "'Work from home'",
 "'Work from home'",
 "'Hyderabad'",
 "'Bangalore'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Delhi'",
 "'Delhi'",
 "'Work from home'",
 "'Work from home'",
 "'Sonipat, Haryana'",
 "'Nagpur'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Delhi'",
 "'Delhi, Noida'",
 "'Work from home'",
 "'Work from home'",
 "'Noida, Gurgaon, Ghaziabad, Delhi'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Mumbai'",
 "'Work from home'",
 "'Work from home'",
 "'Pune'",
 "'Work from home'",
 "'Work from home'",
 "'Bangalore'",
 "'Work from home'",
 "'Agra'",
 "'Mumbai'",
 "'Mumbai'",
 "'Work from home'",
 "'Mumbai'",
 "'Work from home'",
 "'Mumbai'",
 "'Work from home'",
 "'Jaipur, Noida, Bhopalgarh, Bhopal, Mumbai, Pune, Bangalore, Hyderabad, Indore, Kolkata, Ahmedabad, Chandigarh, Chennai, Delhi, Gurgaon'",
 "'Kochi, Noida, Raipur, Indore, Bangalore, Hyderabad, Ludhiana, Bhopal, Guwahati, Gurgaon, Chennai, Coimbatore, Ahmedabad, Chandigarh, Delhi'",
 "'Jaipur, Andhra Pradesh, Karnataka, Mumbai, Kochi, Bangalore, Hyderabad, Pune, Amritsar, Chennai, Gurgaon, Kolkata, Delhi, Ghaziabad'",
 "'Bhubaneswar, Pune, Indore, Kolkata, Chennai, Delhi, Jaipur, Noida, Bhopal, Mumbai, Bangalore, Hyderabad, Raipur, Gwalior West, Andhra Pradesh'",
 "'Gurgaon'",
 "'Agra'",
 "'Indore'",
 "'Agra'",
 "'Agra'",
 "'Ahmedabad'",
 "'Mumbai'",
 "'Work from home'",
 "'Hyderabad'",
 "'Work from home'",
 "'Gurgaon'",
 "'Mumbai'",
 "'Mohali'",
 "'Work from home'",
 "'Bangalore'",
 "'Mumbai'",
 "'Cochin'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Kota'",
 "'Work from home'",
 "'Pune'",
 "'Gurgaon'",
 "'Kolkata'",
 "'Work from home'",
 "'Mumbai'",
 "'Noida'",
 "'Work from home'",
 "'Work from home'",
 "'Gurgaon'",
 "'Bangalore'",
 "'Work from home'",
 "'Ahmedabad'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Bangalore'",
 "'Work from home'",
 "'Chennai'",
 "'Bangalore'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Delhi'",
 "'Work from home'",
 "'Work from home'",
 "'Bangalore'",
 "'Gwalior West, Bhopalgarh, Nagpur, Nashik, Mumbai, Jaipur, Bhopal, Surat, Bangalore, Pune, Satna, Indore, Chennai, Ahmedabad'",
 "'Jaipur, Noida, Nagpur, Pune, Ranchi, Udaipur, Goa Velha, Bangalore, Mumbai, Gurgaon, Kolkata, Patna, Chennai, Coimbatore, Delhi'",
 "'Mumbai, Noida, Hyderabad, Chennai, Dehradun, Faridabad, Pune, Surat, Kolkata, Patna, Gurgaon, Ghaziabad, Delhi, Bangalore, Udaipur'",
 "'Nagpur, Nashik, Pune, Ranchi, Udaipur, Bangalore, Vadodara, Delhi, Gurgaon, Jaipur, Noida, Mumbai, Amritsar, Chandigarh, Ahmedabad'",
 "'Noida, Delhi, Greater Noida'",
 "'Work from home'",
 "'Mumbai'",
 "'Work from home'",
 "'Greater Noida, Noida, Delhi'",
 "'Work from home'",
 "'Noida, Delhi'",
 "'Jaipur'",
 "'Work from home'",
 "'Noida'",
 "'Delhi, Noida'",
 "'Delhi'",
 "'Delhi'",
 "'Mumbai'",
 "'Bangalore'",
 "'Delhi, Gurgaon, Sonipat, Noida'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Bangalore'",
 "'Margao'",
 "'Bangalore'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Delhi'",
 "'Gurgaon'",
 "'Chandigarh'",
 "'Work from home'",
 "'Work from home'",
 "'Gurgaon'",
 "'Work from home'",
 "'Ambala, Faridabad, Gurgaon, Karnal, Rohtak, Sonipat, Sirsa, Hisar, Panchkula, Palwal, Nuh'",
 "'Pune'",
 "'Mumbai'",
 "'Thane West'",
 "'Work from home'",
 "'Hyderabad'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Chennai'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Hyderabad'",
 "'Jaipur'",
 "'Gurgaon'",
 "'Work from home'",
 "'Kolkata'",
 "'Hyderabad'",
 "'Hyderabad'",
 "'Dehradun'",
 "'Work from home'",
 "'Coimbatore'",
 "'Mumbai, Navi Mumbai, Thane'",
 "'Work from home'",
 "'Delhi'",
 "'Work from home'",
 "'Delhi'",
 "'Delhi'",
 "'Work from home'",
 "'Gujarat, Ahmedabad'",
 "'Gurgaon, Mumbai'",
 "'Delhi'",
 "'Andhra Pradesh, Hyderabad'",
 "'Work from home'",
 "'Chennai'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Work from home'",
 "'Indore'",
 "'Work from home'",
 "'Mumbai'",
 "'Mumbai'",
 "'Work from home'",
 "'Udaipur'",
 "'Work from home'",
 "'Greater Noida, Noida, Delhi'",
 "'Delhi'",
 "'Work from home'",
 "'Delhi'",
 "'Pathankot, Jaipur'",
 "'Ahmedabad'",
 "'Hyderabad'",
 "'Work from home'",
 "'Hyderabad'",
 "'Hyderabad'",
 "'Work from home'",
 "'Delhi'",
 "'Delhi, Hyderabad, Chennai, Tamil Nadu, Madhya Pradesh, Bangalore, Odisha, Kerala Estate, Mumbai, Rajastali, Uttar Pradesh, Bihar'",
 "'Work from home'",
 "'Mumbai'",
 "'Work from home'",
 "'Mumbai'",
 "'Work from home'",
 "'Work from home'",
 "'Mumbai'",
 "'Bangalore'",
 "'Mumbai'",
 "'Mumbai'",
 "'Bangalore'",
 "'Pune'",
 "'Work from home'",
 "'Work from home'",
 "'Bangalore'",
 "'Chennai'",
 "'Work from home'",
 "'Chennai'",
 "'Chennai'",
 "'Work from home'",
 "'Work from home'"]